body {
  color: #40514e;
  margin: 0px;
  text-align: center;
  font-family: "Merriweather", serif;
}
h1 {
  line-height: 1;
  color: #66bfbf;
  font-size: 90px;
  margin: 50px auto 0px auto;
  font-family: "Sacramento", cursive;
}
h2 {
  font-weight: normal;
  color: #66bfbf;
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
}

h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}
a:hover {
  color: #eaf6f6;
}
hr {
  color: #e78ea9;
  background-color: #faea07(217, 255, 0);
  border-style: none;
  border-top-style: dotted;
  border-width: 6px;
  width: 4%;
  margin: 100px auto;
}
p {
  line-height: 2;
}
.top-container {
  background-color: #e3f6ff;
  padding: 100px;
}
.middle-container {
  margin: 100px auto;
}
.bottom-container {
  margin-top: 100px;
  padding: 30px;
  margin-bottom: 0px;
  background-color: #66bfbf;
}

.pro {
  text-decoration: underline;
}
.intro {
  width: 30%;
  margin: auto;
}
.top-cloud {
  position: absolute;
  right: 350px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
}
.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.web-d {
  margin-right: 30px;
  float: left;
  width: 25%;
}
.cricket {
  width: 25%;
  margin-left: 30px;
  float: right;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  text-shadow: 3px 2px 2px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.footer-link {
  padding: 10px;
}
.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.contact-mess {
  width: 30%;
  margin: 50px auto;
}
